{% comment %} 
  Accept class: Inside you can add any class to style the arrow
{% endcomment %}

<svg xmlns="http://www.w3.org/2000/svg" class="{{ class }}" viewBox="0 0 10 10" fill="transparent" stroke="currentColor"><title>Caret</title><path d="M7 1L3 5L7 9" stroke="currentColor" stroke-linecap="square"></path></svg>