{% comment %} 
  This is a Home product card.
    It Accept arguments:
      link
      featured_image
      product_title
      product_price
{% endcomment %}


<a href="{{ link }}" class="pb-4 w-[300px] h-[410px] mx-auto flex justify-center items-start flex-col gap-4 mr-4 xl:w-[450px] xl:h-[530px]">
    <div class="w-72 h-80 xl:w-96">
        {{ featured_image | image_url: width: 500 | image_tag }}
    </div>
    <div class="px-2">
        <p class="text-base font-semibold">{{ product_title }}</p>
    </div>
    <div class="flex justify-start items-center gap-4 w-full px-2">
        <p class="text-sm font-normal">${{ product_price }}</p>
        <p class="text-sm bg-black text-white p-2">Save up to 25%</p>
    </div>
    <div class="w-full flex gap-2 px-2">
        <span class="w-5 h-5 rounded-full bg-red-700 block"></span>
        <span class="w-5 h-5 rounded-full bg-red-700 block"></span>
        <span class="w-5 h-5 rounded-full bg-red-700 block"></span>
        <span class="w-5 h-5 rounded-full bg-red-700 block"></span>
        <span class="w-5 h-5 rounded-full bg-red-700 block"></span>
    </div>
</a>