{% comment %} 
  This is the title place in some section
  Accept: title as the title of the secction
{% endcomment %}

<section class="w-full h-fit my-5 lg:my-10">
    <div class="container mx-auto flex flex-col gap-4">
        <h2 class="w-full ml-5 lg:ml-0 text-start text-xl lg:text-2xl font-semibold">
           {{ title }}
        </h2>
    </div>
</section>