{
	"plugins": ["@shopify/prettier-plugin-liquid"],
   "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": false,
  "liquidSingleQuote": true,
  "embeddedSingleQuote": true,
  "htmlWhitespaceSensitivity": "css",
  "singleLineLinkTags": false,
  "indentSchema": false
}
