<section class="w-full h-fit py-5 bg-red-100">
  <div class="container mx-auto">
    <!-- Left side container-->
    <div class="w-full whitespace-nowrap overflow-hidden">
      <p class="announcement inline-block w-[280px] mx-auto border sm:w-full text-center">
        FREE standard shipping $100+*
      </p>
      <p class="announcement inline-block w-[280px] mx-auto border sm:w-full text-center">
        Mix & Match Save up to 25%
      </p>
      <p class="announcement inline-block w-[280px] mx-auto border sm:w-full text-center">
        Kamba tukebele
      </p>
    </div>
    <!-- Right side container-->
    <div class="hidden">
      second div
    </div>
  </div>
</section>
<script src="{{ 'announcement_bar.js' | asset_url }}" defer></script>

{% schema %}
{
  "name": "Annoucement bar",
  "settings": [],
  "presets": [{ "name": "Announcement bar" }]
}
{% endschema %}
