{% render 'top-tile-section', { title:  section.settings.featured_collection_title  } %}
{% comment %}  {% endcomment %}
<section class="w-full h-fit mb-5 lg:mb-10">
    <div class="flex overflow-x-auto hide-scrollbar h-[300px] xl:h-[400px]">
        {%- if section.settings.featured_collection_collection_list != blank -%}
            {%- for collection in section.settings.featured_collection_collection_list -%}
                {% render 'home-collection-card', {
                        link: collection.url,
                        image: collection.featured_image
                        collection_title: collection.title
                    }
                %}
            {%- endfor -%}
            {%- else -%}
            {%- for productBlock in (1..10) -%}
                <a href="" class="w-72 h-72 xl:w-96 xl:h-96 mx-auto border flex justify-center items-center flex-col gap-4 mr-4">
                    <div class="w-64 h-72 xl:w-80 xl:h-80">
                    <img width="500px" height="500px" class="object-cover object-center w-full h-full" src="{{ 'collection-2.svg' | asset_url }}">
                    </div>
                    <div class="flex justify-center items-center gap-2">
                        <p>Bras</p>
                        <span>{%- render "arrow-right-2" -%}</span>
                    </div>
                </a>
            {%- endfor -%}
        {%- endif -%}
    </div>
</section>
{% schema %}
{
    "name": "Featured collection",
    "class": "featured_collection",
    "disabled_on": {
        "groups": ["header", "footer"]
    },
    "limit": 1,
    "settings": [
        {
            "type": "text",
            "id": "featured_collection_title",
            "label": "Title",
            "default":"Feactured collection",
            "placeholder": "Enter your title here"
        },
        {
            "type": "collection_list",
            "id": "featured_collection_collection_list",
            "label": "Choose your collections",
            "limit": 20
        }
    ],
    "blocks": [],
    "presets": [
        {
            "name": "Featured collection"
        }
    ]
}
{% endschema %}