<section>
    <div>
        image banner
    </div>
</section>

{% schema %}
{
    "name": "Image banner",
    "class": "image_banner",
    "limit": 2,
    "settings": [],
    "blocks": [],
    "presets": [
        {
            "name": "Image banner"
        }
    ]
}
{% endschema %}