<section>
    <div>
        <h1>Main collection banner</h1>
    </div>
</section>

{% schema %}
{
    "name": "Main collection banner",
    "disabled_on": {"groups": ["header", "footer"]},
    "settings": [],
    "blocks": [],
    "presets": [
        {"name": "Main collection banner"}
    ]
}
{% endschema %}