<section class="w-full h-hit py-5 lg:py-10 bg-gray-50">
    <div class="container mx-auto">        
      {% comment %} Product Grid {% endcomment %}
      <div class="w-full my-5 grid grid-cols-2 gap-2 md:grid-cols-3 md:gap-4 lg:grid-cols-4">
          {%- for collection in collections -%}
              {% render 'product-card', {
                  link:  collection.url,
                  featured_image: collection.featured_image,
                  product_title: collection.title, 
              } %}
          {%- endfor -%}
      </div>
      {% comment %}End Product Grid {% endcomment %}
    </div>
</section>



