<section class="w-full h-fit">
    <div class="container mx-auto">
        <div class="w-[280px] mx-auto">
            <img src="{{ 'collection-2.svg' | asset_url }}">
        </div>
        <div class="w-[280px]">
            <h3 class="text-2xl font-semibold">Shop in Store</h3>
            <p class="text-base">
                Our stores across Canada and the US are a place where people can feel comfortable in their own skin.
            </p>
            <button class="w-[146px] h-[42px] border">
                <a href="">Find a store</a>
            </button>
        </div>
    </div>
</section>

{% schema %}
{
    "name": "Text image",
    "settings": [],
    "presets": [
        {
            "name": "Text image"
        }
    ]
}
{% endschema %}