:root{
     
}

html{
    scroll-behavior: smooth;
}

/* container */
.container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5;
    padding-right: 0.5;
}

/* xs */
@media (min-width: 320px){}

/* sm */
@media (min-width: 640px) {}

/* md */
@media (min-width: 768px) {}

/* lg */
@media (min-width: 1024px) {}

/* xl */
@media (min-width: 1280px) {}

/* 2xl */
@media (min-width: 1536px) {}